*{
    margin: 0px;
}
header{
    background-color: chocolate;
}
.ol{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    /* flex-direction: row-reverse; */
    padding: 10px;
}
.li{
    text-decoration: none;
    color: white;
    padding: 2px;
}
.li:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
    
}